<!-- achievements.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main_app/css/base.css' %}">

    <meta charset="UTF-8">
    <title>Achievements - Kavya</title>
    <link rel="stylesheet" href="{% static 'main_app/css/achievements.css' %}">
</head>
<body>
    <section class="achievements-section">
        <h1>Achievements</h1>
        <ul class="badges">
            <li><span class="badge">🏆</span> Research Paper accepted at ISBM 2025, Bangkok</li>
            <li><span class="badge">💻</span> Certified Python Developer - IMTF</li>
        </ul>
    </section>
</body>
</html>
