<!-- languages.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main_app/css/base.css' %}">

    <title>Languages - Kavya</title>
    <link rel="stylesheet" href="{% static 'main_app/css/languages.css' %}">
</head>
<body>
    <section class="languages-section">
        <h1>Languages Known</h1>
        <div class="languages">
            <div class="language-card"><span>🇮🇳</span> Telugu (Native)</div>
            <div class="language-card"><span>🇬🇧</span> English (Fluent)</div>
            <div class="language-card"><span>🇮🇳</span> Hindi (Basic)</div>
        </div>
    </section>
</body>
</html>