<!-- objective.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main_app/css/base.css' %}">

    <meta charset="UTF-8">
    <title>Objective - Kavya</title>
    <link rel="stylesheet" href="{% static 'main_app/css/objective.css' %}">
</head>
<body>
    <section class="objective-section">
        <h1>Career Objective</h1>
        <p class="objective-text">
            Aspiring Python Developer and Data Analyst with strong problem-solving skills and hands-on experience in data-driven applications.
            Seeking to contribute to impactful software projects and grow as a full stack/backend developer.
        </p>
    </section>
</body>
</html>