<!-- platforms.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main_app/css/base.css' %}">

    <title>Platforms - Kavya</title>
    <link rel="stylesheet" href="{% static 'main_app/css/platforms.css' %}">
</head>
<body>
    <section class="platforms-section">
        <h1>My Coding Platforms</h1>
        <div class="platform-links">
            <a href="https://github.com/Junuthulakavya" target="_blank">🐙 GitHub</a>
            <a href="#">💻 GeeksforGeeks</a>
            <a href="#">🎯 LeetCode</a>
            <a href="#">🏆 HackerRank</a>
        </div>
    </section>
</body>
</html>